/* fonts import */
@import url("https://p.typekit.net/p.css?s=1&k=zbn2ksk&ht=tk&f=25750.25753.25761.25762.25763.25764.25765.25766.25767.25768&a=84260833&app=typekit&e=css");
/* fonts import -END */

/* reset, root */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  background-color: #fff;
  font-size: 21px;
  overflow-x: hidden;
  // font-family: "eurostile",sans-serif;
}

:root {
  --clr-blue: #092772;
  --clr-blue-light: #2b8fe5;
  --clr-gray: #707070;
  --clr-light-gray: #f8f8f8;
  --clr-black: #000000;
  --clr-yellow: #f0c331;
  --clr-blue-lighter: #395693;
  --clr-blue-lighter2: #0270ad;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1635px;
  }
}
@media (max-width: 991px) {
  .container {
    max-width: 100%;
  }
}
/* reset, root - END */

/* helper , base classes */
.fs-12 {
  font-size: 12px;
}
.fs-14 {
  font-size: 14px;
}
.fs-18 {
  font-size: 18px;
}
.fs-36 {
  font-size: 36px;
  @media (max-width: 1420px) {
    font-size: 25px;
  }
}
.text-clr-blue {
  color: var(--clr-blue);
}
.text-clr-blue-light {
  color: var(--clr-blue-light);
}
.text-clr-black {
  color: var(--clr-black);
}
.text-clr-gray {
  color: var(--clr-gray);
}
.bg-clr-light-gray {
  background-color: var(--clr-light-gray);
}
.bg-clr-blue-lighter {
  background-color: var(--clr-blue-lighter);
}
.bg-clr-blue-lighter2 {
  background-color: var(--clr-blue-lighter2);
}

.transition {
  transition: all 0.3s linear;
}
.is-bg-image {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.wpl-btn {
  .btn {
    border: 3px solid var(--clr-blue-light);
    height: 84px;
    line-height: 63px;
    font-size: 24px;
    font-weight: 900;
    color: var(--clr-blue);
    box-shadow: none;
    &:hover {
      background-color: var(--clr-blue);
      color: #fff;
      border-color: var(--clr-blue);
    }
    @media (max-width: 1420px) {
      font-size: 19px;
    }

    @media (max-width:375px){
      height: 50px;
      line-height: 30px;
      font-size: 15px;
    }

  }

}

.section-header {
  .section-title {
    font-size: 48px;
    font-weight: 900;
    line-height: 62px;
    @media (max-width: 1420px) {
      font-size: calc(2vw + 23px);
      line-height: 1.3;
    }
    @media(max-width: 375px){
      font-size: 20px;
    }
  }
  .section-intro {
    color: var(--clr-black);
    line-height: 32px;
    @media(max-width: 375px){
      font-size: 15px;
    }
  }
}

.bottom-border {
  border-bottom: 2px solid var(--clr-yellow);
  padding: 0 0 60px;
}

/* helper , base classes  - END*/

/* style for header */
.header {
  padding: 45px 0;
  @media (max-width: 1430px) {
    padding: 25px 0;
  }
  .navbar {
    .navbar-toggler {
      &:focus {
        outline: none;
        box-shadow: none;
      }
    }
    .navbar-brand {
      img {
        width: auto;
        @media (max-width: 991px) {
          width: 150px;
        }
      }
    }
  }
  .header-top {
    margin-bottom: 7px;
    .connect-us {
      li {
        a {
          .demo-icon {
            transition: all 0.3s linear;
          }
          &:hover {
            text-decoration: none;
            color: var(--clr-blue);
            .demo-icon {
              background-color: var(--clr-blue);
            }
          }
        }
      }
    }
  }
  .navbar-nav {
    .nav-item {
      @media (min-width: 991) {
        margin-left: 18px;
      }
      .nav-link {
        font-weight: 900;
        &:hover {
          color: var(--clr-blue-light);
        }
      }
    }
  }
}
/* style for header = END */

/* style for banner  */
.banner {
  // background-size: contain;
  position: relative;
  &::after {
    content: "";
    background-image: url(../img/banner-bg.svg);
    width: calc(100% - 220px);
    height: 100%;
    margin: auto;
    position: absolute;
    background-repeat: no-repeat;
    top: 0;
    right: 0;
    left: 0;
    z-index: -1;
    animation-name: bg-animate;
    animation-iteration-count: infinite;
    animation-duration: 10s;
  }
  @keyframes bg-animate {
    0% {
      width: 25%;
      height: 25%;
    }
    25% {
      width: 50%;
      height: 50%;
    }
    75% {
      width: 100%;
      height: 100%;
    }
    100% {
      width: 25%;
      height: 25%;
    }
  }
  .banner-content {
    min-height: 720px;
    @media (max-width: 1430px) {
      min-height: 500px;
    }
    @media (max-width: 991px) {
      min-height: 320px;
      margin-top: 50px;
    }
    .baner-tag {
      font-size: 30px;
      font-weight: 500;
      @media (max-width: 991px) {
        font-size: calc(2vw + 15px);
      }
    }
    .banner-title {
      font-weight: 900;
      font-size: 72px;
      line-height: 88px;
      @media (max-width: 1400px) {
        font-size: calc(2vw + 20px);
        line-height: 1.3;
      }
    }
  }
  @media (max-width: 1000px) {
    .banner-img {
      width: 70% !important;
      margin: auto;
    }
  }
}

.fw-black {
  font-weight: 900;
}

/* style for banner = END */

/* style for services  */
.services {
  padding: 100px 0 0;
  position: relative;
  @media (max-width: 1430px) {
    padding: 100px 0 0;
  }

  &::after {
    content: "";
    background-image: url(../img/cross-shape.svg);
    width: 404px;
    height: 404px;
    position: absolute;
    background-repeat: no-repeat;
    top: 0;
    left: -124px;
    z-index: -1;
    animation-name: circle-animate;
    animation-iteration-count: infinite;
    animation-duration: 10s;
  }

  .single-service {
    border: 8px solid #f8f8f8;
    padding: 80px 70px;
    @media (max-width: 1400px) {
      padding: 40px 30px;
    }
    .secvice-title {
      line-height: 46px;
      @media (max-width: 1420px) {
        font-size: 25px;
        line-height: 1.3;
      }
      @media(max-width:375px){
        font-size: 20px;
      }
    }
    .wpl-btn {
      .btn {
        height: 74px;
        line-height: 2.4;
        @media(max-width: 375px){
          height: 50px;
          line-height: 30px;
          font-size: 15px;
        }
      }
    }
    &:hover {
      .wpl-btn {
        .btn {
          background-color: var(--clr-blue);
          color: #fff;
          border-color: var(--clr-blue);
        }
      }
      .icon {
        transform: scale(1.1);
      }
    }
  }
}
/* style for services = END */

/* style for our-assets  */
.our-achived {
  padding: 60px 0 100px;
  .achived-content {
    padding: 50px 80px;
    @media (max-width: 1200px) {
      padding: 40px 50px;
    }
    @media (max-width: 575px) {
      padding: 40px 30px;
    }
    .achived-img {
      @media (max-width: 720px) {
        img {
          padding: 0 10px !important;
        }
        .imgOne {
          margin-bottom: 20px !important;
        }
      }
    }
  }
  .section-header {
    @media (max-width: 1230px) {
      padding-right: 80px;
    }
    @media (max-width: 1024px) {
      padding-right: 0;
    }
  }
}
/* style for our-assets = END */

/* style for our-firm  */
.our-firm {
  background-color: var(--clr-blue);
  padding: 210px 0 110px;
  z-index: 10;

  @media (max-width: 991px) {
    padding: 100px 0 70px;
  }

  &::after {
    content: "";
    background-image: url(../img/plus-shape.svg);
    width: 100%;
    height: 100%;
    position: absolute;
    background-repeat: no-repeat;
    background-position: 200px center;
    top: 0;
    z-index: -1;
    animation-name: zoom;
    animation-iteration-count: infinite;
    animation-duration: 10s;
    @media (max-width: 768px) {
      display: none;
    }
  }

  .wpl-btn {
    .btn {
      &:hover {
        border-color: var(--clr-yellow);
        background-color: var(--clr-light-gray);
        color: var(--clr-blue) !important;
      }
    }
  }
  .firm-img {
    z-index: 1;
    .cross-shape-b-light {
      width: 20%;
      top: -20%;
      right: 0;
      z-index: -1;
      animation-name: circle-animate;
      animation-iteration-count: infinite;
      animation-duration: 10s;
    }
    .duble-minus-shape {
      width: 20%;
      bottom: -20%;
      right: 30%;
      margin: auto;
      z-index: -1;
      animation-name: circle-animate;
      animation-iteration-count: infinite;
      animation-duration: 10s;
    }
    @media (max-width:1000px) {
      width: 70%;
      margin: auto;
    }
   

  }

  .our-mission {
    position: relative;
    padding: 300px 0 245px;
    @media (max-width: 1430px) {
      padding: 100px 0 200px;
    }
    .minus-shape {
      width: 20%;
      left: 13%;
      top: 15%;
      animation-name: circle-animate;
      animation-iteration-count: infinite;
      animation-duration: 10s;
      z-index: -1;
    }
    .section-header,
    .our-confidant-beasd {
      margin-bottom: 85px;
      padding: 0 50px !important;
      @media (max-width: 1230px) {
        max-width: 1000px;
      }
      @media (max-width: 991px) {
        padding: 0 20px !important;
      }
    }
    @media (max-width: 800px) {
      .confident-img {
        width: 40%;
      }
    }
  }
  
  @media (max-width: 734px) {
    .img-fluid {
      width: 70%;
      margin: auto;
    }
  }
}

@keyframes circle-animate {
  0% {
    transform: rotate(0);
  }
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes zoom {
  0% {
    transform: scale(0.2);
  }
  25% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(0.2);
  }
}
/* style for our-firm = END */

/* style for meet-the-team  */
.meet-the-team {
  margin-top: -185px;
  position: relative;
  z-index: 10;
  .team-content {
    background-color: var(--clr-blue-light);
    .wpl-btn {
      .btn {
        border-color: var(--clr-blue);
      }
    }
  }
}
/* style for meet-the-team = END */

/* style for latest-blog */
.latest-blog {
  padding: 100px 0;
  background-image: url(../img/arrow-bg.svg), url(../img/arrow-right-bg.svg),
    url(../img/cross-shape.svg), url(../img/minus-shape-light.svg);
  background-position: 150px center, calc(100% - 150px) center,
    calc(48% - 200px) -50px, calc(50% + 10%) 615px;
  background-repeat: no-repeat;
  background-size: auto;
  z-index: 5;

  @media (max-width: 1700px) {
    background-position: 10px center, calc(100% - 0px) center,
      calc(48% - 200px) -50px, calc(50% + 10%) 615px;
  }
  @media (max-width: 1430px) {
    background-position: 0px center, calc(100% - 0px) center,
      calc(48% - 200px) -50px, calc(55% + 10%) 600px;
  }
  @media (max-width: 1450px) {
    background-size: 0px, 0px, auto, 0px;
  }
  .content {
    .slider {
      .slider-item {
        .left-content {
          .section-header {
          }
        }
        .image {
          img {
            max-width: 100%;
          }
          @media (max-width: 1430px) {
            margin-right: 20px;
          }
          @media (max-width: 1200px) {
            margin-right: 0;
          }
        }
        .slider-content {
          bottom: 0;
          a {
            .title {
              // line-height: 48px;
              transition: all 0.3s linear;
              @media (max-width: 1420px) {
                font-size: 28px;
                line-height: 1.5;
              }
              @media (max-width: 575px) {
                font-size: 22px;
              }
            }
            &:hover {
              text-decoration: none;
              .title {
                color: var(--clr-blue-light) !important;
              }
            }
          }
        }
        &.slick-active {
          .title {
            animation: fadeInRight 0.7s linear;
          }

          .section-title {
            animation: fadeInDown 0.7s linear;
          }

          .section-intro {
            animation: fadeInRight 0.7s linear;
          }
          .wpl-btn {
            animation: fadeInUp 0.7s linear;
          }
        }
      }
      .slick-dots li.slick-active button:before {
        background-image: url(../img/plus-active-icon.svg);
        width: 18px;
        height: 18px;
      }
      .slick-dots li button:before {
        background-image: url(../img/plus-icon.svg);
        width: 18px;
        height: 18px;
        opacity: 1;
        content: "";
      }
      .slick-dots {
        bottom: -44px;
        width: auto;
        left: calc(50%);
      }
      .slick-prev {
        left: 50px;
        z-index: 10;
      }
      .slick-next {
        right: 50px;
      }
    }
    .wpl-btn {
      .btn {
        height: 75px;
        line-height: 2;
        display: inline-flex;
        align-items: center;
        justify-content: center;
      }
    }

    .slick-arrow {
      @media (max-width: 1210px) {
        display: none !important;
      }
    }
  }

  .progress {
    width: 12.4%;
    height: 6px;
    background-color: var(--clr-black);
    background-image: linear-gradient(
      to right,
      var(--clr-blue-light),
      var(--clr-blue-light)
    );
    background-repeat: no-repeat;
    background-size: 25% 100%;
    left: calc(36.5% - 0%);
    transition: background-size 0.4s ease-in-out;
    @media (max-width: 991px) {
      width: 20%;
      left: calc(10.5% - 0%);
    }
  }
}

/* style for latest-blog = END */

/* style for contact-us  */
.contact-us {
  padding-bottom: 100px;
  margin-top: 130px;
  background-image: url(../img/cross-shape-small.svg);
  background-repeat: no-repeat;
  background-position: calc(100% - -160px) bottom;
  position: relative;

  @media (max-width: 991px) {
    margin-top: 80px;
    padding-bottom: 80px;
  }

  &::after {
    content: "";
    background-image: url(../img/plus-shape-light.svg);
    width: 340px;
    height: 340px;
    position: absolute;
    background-repeat: no-repeat;
    top: -165px;
    left: -135px;
    z-index: -1;
    animation-name: circle-animate;
    animation-iteration-count: infinite;
    animation-duration: 10s;
  }
  .section-header {
    padding-top: 100px;
    border-top: 8px solid var(--clr-blue-light);
  }
}
/* style for contact-us = END */

/* style for footer  */
.footer {
  background-color: var(--clr-blue);
  padding: 100px 0;
  @media (max-width: 991px) {
    padding: 70px 0;
  }
  .f-menu {
    .nav-item {
      .nav-link {
        &:hover {
          color: var(--clr-blue-light) !important;
        }
      }
    }
  }
}
/* style for footer = END */
